.apeDefense h2 {
    font-size: 16pt;
}

.apeDefense h3 {
    font-size: 14pt;
}

.apeDefense ul {
    list-style-type: none;
    font-size: 10pt;
    padding-left: 20px;
    margin-top: 0;
}

#instructorName {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

#instructorSub {
    font-size: 9pt;
}

#primaryPicture img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    margin: 8px 0 20px 0;
}

#joelPicture2 {
    margin-top: 15px;
}

#joelPicture3 {
    margin-top: 15px;
}
