#basicHours {
    position: relative;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 80px;
    text-align: center;
}

#basicHours ul {
    background-color: #DDD;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    list-style-position: inside;
}

#basicHours ul li {
    padding: 5px;
}