.location {
    margin-top: 10px;
    background-color: #DEDEDE;
    border-radius: 10px;
    padding: 1px 10px;
    min-height: 325px;
    max-height: 450px;
}

.location h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.location h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
}

.location p {
    font-family: Arial, Helvetica, sans-serif;
}

.location ul {
    margin-top: 0;
}
