.sanctioned {
    background-color: #DEDEDE;
    border-radius: 10px;
    padding: 1px 10px;
    min-height: 275px;
    max-height: 600px;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

.sanctioned h2 {
    font-size: 14pt;
}

.sanctioned p {
    font-size: 10pt;
}

.sanctionedImages {
    margin-top: 10px;
    text-align: center;
    padding: 10px 0;
    max-width: 400px;
}

.sanctionedImages img {
    max-width: 150px;
    min-width: 50px;
    padding: 5px;
    margin: 3px;
    background-color: white;
}

#icma {
    border-radius: 65px;
}

#ifcma {
    border-radius: 75px;
    padding-left: 0;
}