.sanctioned {
    min-height: 150px;
    max-height: 600px;
    max-width: 300px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -150px;
}

.sanctioned h2 {
    font-size: 13pt;
}

.sanctioned p {
    font-size: 10pt;
}

.sanctionedImages {
    max-width: 400px;
}

.sanctionedImages img {
    max-width: 125px;
    min-width: 50px;
    padding: 5px;
    margin: 3px;
    background-color: white;
}

#icma {
    border-radius: 65px;
}

#ifcma {
    border-radius: 75px;
    padding-left: 0;
}