.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.appLogo {
  height: 200px;
  width: 200px;
  position: relative;
  left: 50%;
  top: 10px;
  margin-left: -100px;
}

.appLogo img {
  width: 100%;
  height: auto;
}