.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: 2vw;
}

.appLogo {
  display: table;
  width: 100%;
  cursor: pointer;
}

.appLogo-semantic {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.appLogo img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
}
